@import "base.css";

body{
    /* background-color: #94D2BD; */
    background-color: #2A2631;
    
}

.wrapper {
    height: calc(100vh - 120px);
    width: 100%;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    height: 100%;
    z-index: 2;
  }
button{
    font-size: 25px;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 0.2px;
    text-transform: none;
    cursor: pointer;
    background-color:#ff007f;
    padding: 7px 12px;
    border-radius: 25px;
}
#button{
    margin-top: calc(100vh - 50%);

}


.row{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.copyright p{
  color: white;
}
/* FOOTER */
footer{
  background-color: #121418;
}

.links ul li a{
  color: white;
}

.footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
}
dialog{
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
}
dialog::backdrop {
	background: rgba(0,0,0,0.5);
}

.center{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.modal{
    display: flex;
    align-items: space;
    justify-content: center;
    flex-direction: column;
    height: 200px;
}


